@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World!!</h1>
    <p>Minha primeira application em ASP.NET CORE :D</p>
</div>
